body{
    font-family: 'Gideon Roman', cursive;
    margin: 0;
}
.about-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}
.clrfull{
    color: orange;

}
/* .lazy{
    padding-left: 20px;
} */
.flaxible-section{
    display: flex;
}
.bio-data{
    width: 50%;
    padding: 50px;
    
}
.bio-data img{
    width: 80%;
    padding-top: 20px;
}
.higherME-btn{
    text-decoration: none;
    color: seashell;
    background-image: linear-gradient(tomato, orange);
    font-size: large;
    font-weight: bolder;
    padding: 9px 15px;
    border-radius: 10px;
}

.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiance-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ex-title{
    padding-left: 40px;
}
.card{
    display: flex;
}
.body-card{
    background-color:steelblue;
    display: 30%;
    box-shadow: 4px 4.5px 20px rgb(65, 63, 60);
    width: 400px;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    border: solid rgb(151, 143, 143) 5px;
    border-radius: 5px;
}
.card-title{
    text-align: center;
    color:snow;
}
.card-text{
    text-align: center;
    color: burlywood;
}
.poter-section{
    padding: 30px;
    margin-top: 70px;
    font-weight: 600;
    text-align: center;
    

}